/******************** Deals Section Start ******************/

.deals,
.products{
  margin-top: 50px;
  margin-bottom: 50px;
}

.categories_section {
  justify-content: space-between;
}

.deals__section {
  margin-bottom: 50px;
}

.browse-title,
.products_title {
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
}

.arrow-btn button {
  padding: 5px 10px;
  font-size: 13px;
  font-weight: 700;
  border: none;
  border-radius: 4px;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
  margin-left: 5px;
  cursor: pointer;
  transition: all .3s ease;
}

.arrow-btn button:hover {
  background-color: rgba(0, 0, 255, 0.7);
  color: white;
}

.deals_product__section {
  gap: 5px;
}

.deals_product {
  flex: 1;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.deals_image {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 12px;
  user-select: none;
  cursor: pointer;
  transition: .3s ease;
}

.deals_title {
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.deals_title:hover {
  text-decoration: underline;
}

/******************** Deals Section End ******************/






/******************** making the page responsive ******************/


@media (max-width: 1350px) {
  .deals_title {
    font-size: 12px;
  }
}
