/* Utility Classes */
.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  /* border: 1px solid red; */
}
.flexbox {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.border {
  border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans, Arial;
}

body::-webkit-scrollbar {
  width: 0;
}




